<!DOCTYPE html>
<html lang="en">
{{>partials/headPartial.hbs}}
<body>
{{>partials/navBarPartial.hbs}}

<div class="container-fluid p-0">
    <div class="container-sm pt-4">
        <div class="row justify-content-center">
            <div class="col-3">
                <!-- Sort by -->
                <label for="sortBy" class="text-primary">Sort by:</label>
                <select name="sortBy" id="sortBy" class="form-select">
                    <option value="name">Name</option>
                    <option value="balance">Balance</option>
                </select>
            </div>
            <div class="col-3 d-flex align-items-center justify-content-center">
                <!-- Accounts per page -->
                <p class="text-primary text-bebas fs-4">Accounts shown: {{pageCount}}</p>
            </div>
        </div>
    </div>

    <table class="border border-2 my-3 mx-auto">
        <thead>
        <tr class="border-bottom border-2">
            <th class="pe-4 border-end border-2 p-2">Account Name</th>
            <th class="p-2">id</th>
            <th class="p-3">Balance</th>
            <th class="p-4">Currency</th>
            <th class="p-5">Account Type</th>
        </tr>
        </thead>
        <tbody>
        <!-- List View-->
        {{#each accounts}}
            <tr class="border-bottom border-2">
                <td class="p-2 border-end border-2">
                    <a href="/accounts/{{this.id}}">{{this.name}}</a>
                </td>
                <td class="p-2">
                    {{this.id}}
                </td>
                <td class="p-2">
                    £{{this.balance}}
                </td>
                <td class="p-3">
                    {{this.currency}}
                </td>
                <td class="p-4">
                    {{this.accountType}}
                </td>
            </tr>
        {{/each}}
        <!-- Individual View-->
        {{#if account}}
            <tr>
                <td class="p-2 border-end border-2">
                    <a href="/accounts/{{account.name}}">{{account.name}}</a>
                </td>
                <td class="p-2">
                    {{account.id}}
                </td>
                <td class="p-2">
                    £{{account.balance}}
                </td>
                <td class="p-3">
                    {{account.currency}}
                </td>
                <td class="p-4">
                    {{account.accountType}}
                </td>
            </tr>
        {{/if}}
        </tbody>
    </table>
     {{>partials/paginationPartial.hbs}}
    <!-- JSON View -->
    {{#if json}}
        {{json}}
    {{/if}}

    {{>partials/footerPartial.hbs}}
</div>

</body>
</html>