<!DOCTYPE html>
<html lang="en">
{{>partials/headPartial.hbs}}
<body>
{{>partials/navBarPartial.hbs}}

<!-- Table View -->
<table class="border border-2 my-3 mx-3">
    <thead>
    <tr class="border-bottom border-2">
        <th class="pe-4 border-end border-2 p-2">Account Name</th>
        <th class="p-2">Balance</th>
    </tr>
    </thead>
    <tbody>
    {{#accounts}}
        <tr class="border-bottom border-2">
            <td class="p-2 border-end border-2">
                <a href="/accounts/{{this.name}}">{{this.name}}</a>
            </td>
            <td class="p-2">
                £{{this.balance}}
            </td>
        </tr>
    {{/accounts}}
    {{#if account}}
        <tr>
            <td class="p-2 border-end border-2">
                <a href="/accounts/{{account.name}}">{{account.name}}</a>
            </td>
            <td class="p-2">
                £{{account.balance}}
            </td>
        </tr>
    {{/if}}
    </tbody>
</table>

<!-- JSON View -->
{{#if json}}
    {{json}}
{{/if}}

{{>partials/footerPartial.hbs}}
</body>
</html>