<!DOCTYPE html>
<html lang="en">
{{>partials/headPartial.hbs}}
<body>
{{>partials/navBarPartial.hbs}}
<div class="container-md w-75 py-5">
    <h1 class="pb-4">Swagger API Docs</h1>
    {{#each routes}}
        <div class="row py-1 d-block">
            <span class="{{this.color}} text-light px-2 py-1 col-md-auto rounded d-inline">{{this.method}}</span>
            <h6 class="p-1 d-inline">{{this.route}}</h6>
            <p class="p-1 d-block">{{this.info}}</p>
            <p class="p-1 d-block">{{this.responses}}</p>
        </div>
    {{/each}}
</div>
{{>partials/footerPartial.hbs}}
</body>
</html>