<!DOCTYPE html>
<html lang="en">
{{>partials/headPartial.hbs}}
<body>
{{>partials/navBarPartial.hbs}}
<div class="container-fluid p-3">

    <div class="container-sm">
        <div class="row justify-content-center pt-4 pb-3">
            <div class="col-3">
                <!-- Sort by -->
                <label for="sortBy" class="text-primary">Sort by:</label>
                <select name="sortBy" id="sortBy" class="form-select">
                    <option value="name">Name</option>
                    <option value="balance">Balance</option>
                </select>
            </div>
            <div class="col-3 d-flex align-items-center justify-content-center">
                <!-- Accounts per page -->
                <p class="text-primary text-bebas fs-4">Transactions shown: {{tCount}}</p>
            </div>
        </div>
    <table class="table table-responsive table-hover table-striped table-light">
        <thead>
        <tr>
            <th scope="col" class="text-primary">ID</th>
            <th scope="col" class="text-primary">From</th>
            <th scope="col" class="text-primary">To</th>
            <th scope="col" class="text-primary">Date</th>
            <th scope="col" class="text-primary">Amount</th>
            <th scope="col" class="text-primary">Currency</th>
        </tr>
        </thead>
    {{#if normal }}
        <tbody>
        {{#each transactions}}
            <tr>
                <th scope="row">{{id}}</th>
                <td>{{withdrawAccount}}</td>
                <td>{{depositAccount}}</td>
                <td>{{date}}</td>
                <td>£{{amount}}</td>
                <td>{{currency}}</td>
            </tr>
        {{/each}}
        </tbody>
    {{else if fraud}}
        <tbody>
        {{#each transactions}}
            <tr>
                <th scope="row">{{id}}</th>
                <td>{{withdrawAccount}}</td>
                <td>{{depositAccount}}</td>
                <td>{{date}}</td>
                <td>£{{amount}}</td>
                <td>{{currency}}</td>
            </tr>
        {{/each}}
        </tbody>
    {{else if all}}
        <tbody>
        {{#each transactions}}
            <tr>
                <th scope="row">{{id}}</th>
                <td>{{withdrawAccount}}</td>
                <td>{{depositAccount}}</td>
                <td>{{date}}</td>
                <td>£{{amount}}</td>
                <td>{{currency}}</td>
            </tr>
        {{/each}}
        </tbody>
    {{/if}}
    </table>
    </div>
    {{>partials/paginationPartial.hbs}}
</div>
{{>partials/footerPartial.hbs}}
</body>
</html>